.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  padding: 24px;
}

.main {
    width: 100%;
    flex-grow: 1;
    padding: 24px;

    background-color: #fff;
    border-radius: 6px;
}
