// @use "../../../syles/variables";

.logo {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 22px;
    line-height: 26px;
    font-weight: 500;
    white-space: nowrap;
}
