@use "../../../syles/variables";

.main {
    position: relative;
    min-height: 100%;
    width: 260px;
    flex-shrink: 0;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 0;

    color: var(--text-primary, #22303e);
    font-size: 15px;
    line-height: 22px;

    background-color: var(--bg-container, #fff);
    box-shadow: 0 1px 1px var(--shadow-color, #22303e14);
    border-radius: 6px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, margin-left 0.2s;
}

.item {
    padding: 0 16px;
}

.hide {
    @media (max-width: variables.$tablet-width) {
        margin-left: -270px;
    }
}
