@use "../../../syles/variables";

.main {
    position: relative;
    min-height: 100%;
    width: 260px;
    flex-shrink: 0;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 0;

    color: #22303e;
    font-size: 15px;
    line-height: 22px;

    background-color: #fff;
    box-shadow: 0 1px 1px #22303e14;
    border-radius: 6px;
    transition: 0.2s;
}

.item {
    padding: 0 16px;
}

.hide {
    @media (max-width: variables.$tablet-width) {
        margin-left: -270px;
    }
}
